.ui-panel-content{
    background: url('../images/mochaGrunge.png') !important;
    border: none !important;
}

.ui-panelgrid-content{
    background: url('../images/contact/contact-background-image.jpg') !important;
}

.contact-form-content{
    display:block;
    border:none;
}

.ui-widget-content{
    border: none !important;
    background: none;
}