html, body{
    font-family: 'Raleway', sans-serif !important;
    font-size: 16px !important;
    line-height: 1.42857143 !important;
}

body{
    background-color:#059;
}
#robot{
    margin: 0 auto;
    width: 280px;
    height: 210px;
    margin-top: 40px;
}

.error-message{
    width:70%;
    box-shadow: 8px 10px 8px #268;
    text-align: center;
    color: #fff;
}
@media screen and (max-width: 480px){
    .error-message{
        width:100%;
        text-align: justify;
        font-size: 18px;
        color: #ffffff;
        box-shadow: 8px 10px 8px #268;
    }
}

.error-message a{
    color:white;
}

.error-message a:hover{
    color:black;
}



