body{
    background: url("../images/congruent_outline.png");
    font-family: 'Raleway', sans-serif;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
}

.login-form-content{
    color: #dddddd;
    padding: 5px;
    margin-top:25%;
    border:none;
}

@media screen and (min-width: 480px){

    .ui-panel{
        width: 480px !important;
    }
    .ui-panel .ui-panel-content{
        padding: 0 !important;
    }
}