html, body{
    height: 100%;
    font-family: 'Raleway', sans-serif !important;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
}
body{
    /*background: url('../images/mochaGrunge.png');*/
    font-family: 'Raleway', sans-serif !important;
    font-size: 16px !important;
    line-height: 1.42857143 !important;
}
/* ************************************** HEADER STYLE ****************************************** */

.header-login-button{
    float:right; 
}

#header-logo{
    background-color: #045491;
    width: 100%;
    height: 200px;
}
.social-icons{
    float:right;
}

.header-content .navbar-default .navbar-nav, .header-content .navbar-nav>.open>a, .header-content .container-fluid, .header-content .dropdown-menu, .header-content .dropdown-menu .btn,.header-content .navbar-default{
    border-color: #38c !important;
    background: #38c;
}

.header-content .navbar-default, .navbar-nav>.open>a{
    border-color:#38c !important;
}

.header-content .navbar-nav>li>a, .dropdown-menu>li>a{
    color: #fff !important;
}

.header-content .btn:hover, .dropdown-menu .btn>a:hover{
    background-color:#286090;
}

.header-content .dropdown-toggle{
    background-color: transparent !important;
}

.header-content .dropdown-toggle:hover{
    background-color: #286090 !important;
}

.header-content .navbar-default .navbar-toggle{
    border-color: #286090;
}

 .header-content .navbar-default .navbar-toggle .icon-bar {
     background-color: #286090;
 }

@media screen and (max-width: 480px){
    .social-icons img{
        width:30px;
        height:30px;
    }

    .social-icons b{
        font-size:12px;
    }
}

.header-logo-title{
    color: #fff;
    z-index: 9999;
    position: absolute;
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 5%;
}

@media screen and (max-width: 480px){
    .header-logo-title{
        visibility: hidden;
        z-index: -9999;
        position: absolute;
    }
}

/* ************************************** GALLERIA STYLE ****************************************** */

.galleria-view-style{
    box-shadow: 8px 5px 10px #888;
}
.ui-galleria{
    width:100% !important;
}

.ui-galleria-panel .ui-helper-hidden{
    width:100% !important;
}

.ui-galleria-frame-active{
    width: 100%;
}
@media screen and (max-width: 600px){
    .galleria-view-style li{
        width:100% !important;
    }
}

.ui-galleria-caption{
    width:100% !important;
}

.galleria-view-style .ui-galleria-panel{
    width:100%;
}

.galleria-view-style .ui-galleria-panel-wrapper{
    width:100% !important;
}

.galleria-view-style li{
    width:100% !important;
}

.youtube-gallery{
    width:100%;
    height:400px;
    border:none;
    box-shadow: 10px 10px 12px #888;
}

.youtube-gallery iframe{
    width:80%;
    height:300px;

}


.youtube-gallery .ui-widget-content{
    width:100%;
    height:100%;
    border:none;
    margin-bottom:3%;
}

/*.youtube-gallery .ui-widget-header{
    background: #38c;
    font-size: 2em;
    color: white;
    box-shadow: 8px 5px 10px #888;
}*/



/* ************************************** POSTS STYLE ****************************************** */
.post-read-style .imagen-post img{
    width: 600px;
    height: 400px;
    border: 3px solid #38c;
    float: right;
    margin-left: 2%;
    margin-bottom: 2%;
}

.post-read-style .imagen-post{
    width: 600px;
    height: 400px;
    padding: 1px !important;
    float:right;
    margin-left: 3%;
    margin-bottom: 1%;
}

.post-read-style{
    width:100%;
    height:100%;
    padding: 10px;
}

.post-read-style .ui-widget-content{
    border-left: none !important;
    border-top: none !important;
    box-shadow: 8px 8px 10px #888;
}

.post-read-info{
    float:left;
    width:100%;
    font-weight:bold;  
}

.post-read-info .btn{
    outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
}

.posts-link{
    float: left;
    color: black;
    text-decoration: none;
}

.posts-link:hover{

    text-decoration: underline;
}

.post-view-style{
    padding:0px;
}

.post-view-style .ui-widget-content{
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

/*.post-view-style .ui-widget-header{
    background: #38c !important;
    font-size: 2em;
    color: white;
    box-shadow: 8px 5px 10px #888;
}*/
.post-view-style .ui-panelgrid-cell{
    width:100%;
    margin-bottom: 3%;
    box-shadow: 8px 8px 10px #888;
}

.img-position-post{
    float:left;
    width:27%;
    margin-right: 3%;
}

.img-position-post img{
    width:100%;
}

.post-prev-text{
    width: 70%;
    float: left;
    margin-bottom: 3%;
}

@media screen and (max-width: 600px){
    .imagen-post img{
        width: 100% !important;
        height: 200px !important;
        border-radius:3%;
    }

    .post-read-style .imagen-post{
        width: 100% !important;
        height: 200px;
        padding: 1px !important;
    }

    .post-read-style .ui-widget-header{
        font-size:1.3em !important;
    }

    .post-read-info{
        float:left;
        width:100%;
        font-weight:bold;
        font-size: 0.9em;    
    }

    .post-read-style .post-text .post-og-meta{
        width: 100% !important;
        margin-top: 2% !important;
        padding: 1px !important;
    }

    .post-read-style .post-text{
        padding-top: 50%;
    }

    .post-read-info .btn{
        margin-top: 2% !important;
        outline:0 !important;
        -webkit-box-shadow:none !important;
        box-shadow:none !important;
    }

    .img-position-post img{
        width: 100% !important;
        height:100% !important;
        padding:5px;
    }

    .img-position-post{
        width:100% !important;
        height:100% !important;
        margin-right: 0px !important;
    }

    .post-prev-text{
        width: 100% !important;
        text-align: justify !important;
    }

}



/* ************************************** SOBRE NOSOTROS STYLE ****************************************** */

.info-gobernacion p{

    text-align: justify; 
    list-style-position: outside;
}

/*.info-gobernacion .ui-widget-header{
    background: #38c;
    font-size: 2em;
    color: white;
    box-shadow: 8px 5px 10px #888;
}*/


/* ************************************** SERVICIOS STYLE ****************************************** */

.servicios-publicos-content p{
    text-align: justify; 
}

/*.servicios-publicos-content .ui-widget-header{
    background: #38c;
    font-size: 2em;
    color: white;
    box-shadow: 8px 5px 10px #888;
}*/

/* ************************************** NOMINA STYLE *************************************************** */

/*.nomina-content-style .ui-widget-header{
    background: #38c;
    font-size: 2em;
    color: white;
    box-shadow: 8px 5px 10px #888;
}*/

.nomina-content-style .ui-panelgrid-cell{
    width:100%;
    border:none;
}

.nomina-content-style .nomina-content-table{
    padding: 5px;
}

.nomina-content-table th{
    border-right: 1px solid grey;
    text-align: center;
}

.nomina-content-table td{
    text-align: center;
    border-right: 1px solid grey;
}

/* ************************************** CONTACT FORM ********************************************* */

/*#contact-form-content .ui-widget-header{
    background: #38c;
    font-size: 2em;
    color: white;
    box-shadow: 8px 5px 10px #888;
}*/

/* ************************************** CONTAINER STYLE ****************************************** */

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.general-header-style .ui-widget-header{
    background: #38c;
    font-size: 2em;
    color: white;
    box-shadow: 8px 5px 10px #888;
}

.page-wrap {
    min-height: 100%;
    margin-left: 5% !important;
    margin-right: 5% !important;
    /* equal to footer height */
    margin-bottom: -200px; 
}

@media screen and (max-width: 600px){
    .page-wrap {
        min-height: 100%;
        margin-left: 0% !important;
        margin-right: 0% !important;
        /* equal to footer height */
        margin-bottom: -200px; 
    }
}

.ui-panelgrid .ui-grid-responsive .ui-grid-row{
    border: none !important;
}

.page-wrap:after{
    content: "";
    display: block;
}

.right-side-content{
    padding: 0px;
    width:28%;
    margin-left:2%;
    float:right;
    box-shadow: 8px 5px 10px #888;
}

.interest-links-style{
    margin-bottom: 3%;
    background-color: #ffffff;
    padding: 1px;
}

.interest-links-style img, table{
    width:100%;
}


@media screen and (max-width: 600px){
    .right-side-content{
        visibility: hidden;
        z-index: -9999;
        position: absolute;
    }

    .fb-page{
        visibility: hidden !important;
        z-index: -9999 !important;
        position: absolute;
    }

    .fb_iframe_widget iframe{
        visibility: hidden !important;
        z-index: -9999 !important;
        position: absolute;
    }

}

.left-side-content{
    width:70%;   
    float:left;
}

@media screen and (max-width: 600px){
    .left-side-content{
        width:100%;    
    }
}

.social-tab{    
    right:0px;
    position:fixed;
    z-index: 9999;
}

.social-tab ul{
    border:none;
}

.social-tab img:hover{
    width:60px; 
}

.social-tab img{
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    transition:width 0.5s;
}

@media screen and (max-width: 480px){
    .social-tab img{
        width:30px;
        height:30px;
    }
}


/* ************************************** FOOTER STYLE ****************************************** */



#footer, .page-wrap:after{
    height: 200px;
    display: inline-block;
    width: 100%;
}

#footer .ui-panel-content{
    background-color: #045491 !important;
    width:100% !important;
    border: none !important;
}

#footer .ui-widget-content{
    border:none !important;
    background: #045491 !important; 
    color: #fff;
}

#footer a:hover{
    text-decoration: underline;
    color: thistle;
}

#footer a{
    color: #fff;
}

/* *************************************** Primefaces Styles ********************************* */

.ui-widget{
    font-family: 'Raleway', sans-serif !important;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
}