body{
    background: url('../images/mochaGrunge.png');
    margin-left: 5%;
    margin-right: 5%;
}

.header-login-button{
    float:right; 
}

#header-logo{
    background-color: #045491;
    width: 100%;
    height: 200px;
}

.social-icons{
    float:right;
}

.ui-galleria{
    width:100% !important;
}

.ui-galleria-panel .ui-helper-hidden{
    width:100% !important;
}
@media screen and (max-width: 600px){
    .ui-galleria-panel .ui-helper-hidden{
    width:280px !important;
    height:150px !important; 
}
}

.ui-galleria-caption{
    width:100% !important;
}

/*@media screen and (max-width: 480px){
.ui-galleria-panel-wrapper{
    width:  280px;
}
}*/

#post-read-image{
    width: 600px;
    height: 400px;
}

@media screen and (max-width: 600px){
    #post-read-image{
        width: 280px;
        height: 150px;
    }
}

    