html, body{
    height: 100%;
}
body{
    background: url('../images/mochaGrunge.png');
    font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif !important;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
}


.header-login-button{
    float:right; 
}

#header-logo{
    background-color: #045491;
    width: 100%;
    height: 200px;
}

.social-icons{
    float:right;
}

.ui-galleria{
    width:100% !important;
}

.ui-galleria-panel .ui-helper-hidden{
    width:100% !important;
}

.ui-galleria-frame-active{
    width: 100%;
}
@media screen and (max-width: 600px){
    .ui-galleria-frame-active{
        width:280px !important;
        height:150px !important; 
    }
}

.ui-galleria-caption{
    width:100% !important;
}

.ui-galleria-nav-next .ui-icon .ui-icon-circle-triangle-e{
    width: 40px;
    height:40px;
}

/*@media screen and (max-width: 480px){
.ui-galleria-panel-wrapper{
    width:  280px;
}
}*/

#post-read-image{
    width: 600px;
    height: 400px;
}

@media screen and (max-width: 600px){
    #post-read-image{
        width: 280px;
        height: 150px;
    }
}

.page-wrap {
    min-height: 100%;
    margin-left: 5% !important;
    margin-right: 5% !important;
    /* equal to footer height */
    margin-bottom: -220px; 
}

@media screen and (max-width: 600px){
    .page-wrap {
        min-height: 100%;
        margin-left: 0% !important;
        margin-right: 0% !important;
        /* equal to footer height */
        margin-bottom: -220px; 
    }
}

.ui-panelgrid .ui-grid-responsive .ui-grid-row{
    border: none !important;
}

.page-wrap:after{
    content: "";
    display: block;
}

.posts-link{
    color: black;
    text-decoration: none;
}

.posts-link:hover{
    
    text-decoration: underline;
}


#footer, .page-wrap:after{
    height: 220px;
}

#footer .ui-panel-content{
    background-color: #AFAFAF !important;
    width:100% !important;
    border: none !important;
}

#footer .ui-widget-content{
    border:none !important;
    background: none; 
}

#footer a:hover{
    text-decoration: underline;
}
