h1, p, body, html {
    margin:0;
    padding:0;
}

body {
    background-color: #333;
    //background-color:#EEEEEE; 
}

header{
}

#container {
    width:100%;
}

#header { 
    background-color:#FFA500;	
}

#header h1 {
    margin-bottom: 0px;
    border-radius: 15px;
}	

#content {
    float:left;
    width:100%;
}

#footer {
    clear:both;	/*No floating elements are allowed on left or right*/
    background-color:#FFA500;
    border-radius: 15px;
    text-align:center;
    font-weight: bold;
}

.errorMessage {
    color: red;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../images/page-loader.gif") 50% 50% no-repeat rgb(249,249,249);
}

.input{
    background-color: white !important;
    color:#4f4f4f !important; 
    border-color: #4f4f4f!important;
    border: 4px;
    border-radius: 20px;
}

.ui-datatable-header{
    background-color: white !important;
    color:#4f4f4f !important; 
}

.ui-paginator{
    background-color: white !important;
    color:#4f4f4f !important; 
}

th{
    background-color: white !important;
    color:#4f4f4f !important; 
}

.ui-widget-header {
    
   background-color: white !important;
    color:#4f4f4f !important; 
}

.barnotif{
    background-color: grey;
    color:white;
}


